extends layout.pug

block main
  form(action="/play" method="post")
    label(for="name") Nom Prénom:
    input#name(type="text" name="name" required)
    input(type="submit" value="Commencer")

block custom_js
  script(src="static/js/index.js")
