extends layout.pug

block main
  form(enctype="multipart/form-data")
    label(for="file") Questionnaire JSON :
    input#file(type="text" name="file")
    input(type="submit" value="Upload")

block custom_js
  
